[pylint]
max-line-length = 100
max-args = 8

[messages control]
disable =
    duplicate-code,
    too-few-public-methods,
    too-many-public-methods,
    too-many-instance-attributes,
    no-self-use,
    too-many-ancestors


[miscellaneous]
# List of note tags to take in consideration, separated by a comma.
notes=
